@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap");
h1,
h2,
h3 {
  font-family: "Arvo", sans-serif; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1rem; }

p {
  font-family: "Arvo", sans-serif;
  line-height: 1.4em;
  font-size: 1.1em; }

html {
  font-size: 62.5%; }

h1, h2, h3 {
  font-family: arvo, serif; }

p {
  font-family: 'Play', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  color: white; }

.text-black {
  color: black; }

h1 {
  color: rgba(36, 162, 185, 0.7);
  font-size: 4rem; }

h2 {
  color: rgba(10, 26, 42, 0.8);
  font-size: 3rem; }

h3 {
  color: rgba(10, 26, 42, 0.8);
  font-size: 2rem; }

nav {
  background-color: rgba(10, 26, 42, 0.8);
  /*position*/
  position: sticky;
  /*padding*/
  top: 0px;
  width: 100%; }
  nav ul {
    list-style: none;
    display: inline; }
    nav ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px; }
      nav ul li a {
        font-size: 2.2rem;
        color: white; }

body {
  background-image: url(../img/fondo.png);
  background-attachment: fixed; }

.encabezado__box--white {
  text-align: center;
  background-color: white;
  /* padding */
  padding: 5px 0; }

.titulos {
  color: white;
  font-size: 2rem; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.productos__articulo, .productos__articulo2 {
  width: 90%;
  height: auto;
  margin: 50px auto;
  border: solid 5px black;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(36, 162, 185, 0.7); }

.centrado {
  margin: 0;
  padding: 0 5rem; }

.centrado1 {
  margin: 0;
  padding: 0 12rem; }

.centrado2 {
  margin: 0;
  padding: 0 17rem; }

.centrado3 {
  margin: 0;
  padding: 0 30rem; }

.text-green {
  color: green; }

.mainIndex {
  display: grid;
  grid-template-areas: "titulo titulo " "columna1 columna2" "columna3 columna4";
  grid-template-columns: 1fr 1fr; }

.tituloPrincipal {
  grid-area: titulo;
  text-align: center; }

.columna1 {
  grid-area: columna1; }

.columna2 {
  grid-area: columna2; }

.columna3 {
  grid-area: columna3; }

.columna4 {
  grid-area: columna4; }

.columna1 {
  display: grid;
  grid-template-areas: "text-left1 text-left1" "imagenes1 imagenes1 imagenes1"; }

.text-left1 {
  grid-area: text-left1; }

.imagenes1 {
  grid-area: imagenes1;
  text-align: center; }

.columna2 {
  display: grid;
  grid-template-areas: "text-left2 text-left2" "imagenes2 imagenes2 "; }

.text-left2 {
  grid-area: text-left2; }

.imagenes2 {
  grid-area: imagenes2;
  text-align: center; }

.columna3 {
  display: grid;
  grid-template-areas: "text-left3 text-left3" "imagenes3 imagenes3"; }

.text-left3 {
  grid-area: text-left3; }

.imagenes3 {
  grid-area: imagenes3;
  text-align: center; }

.columna4 {
  display: grid;
  grid-template-areas: "text-left4 text-left4" "imagenes4 imagenes4"; }

.text-left4 {
  grid-area: text-left4; }

.imagenes4 {
  grid-area: imagenes4;
  text-align: center; }

.imagenes1 .imagenes2 .imagenes3 .imagenes4 {
  width: 100%;
  height: auto; }

.imagenes1 img {
  width: 80%;
  height: auto; }

.imagenes2 img, .imagenes3 img, .imagenes4 img {
  width: 70%;
  height: auto; }

.mainproducto {
  display: grid;
  grid-template-areas: "fila1	fila2	fila3" "fila4	fila5	fila6" "fila7	fila8	fila9";
  grid-template-columns: 1fr 1fr 1fr; }

.fila1 {
  grid-area: fila1; }

.fila2 {
  grid-area: fila2; }

.fila3 {
  grid-area: fila3; }

.fila4 {
  grid-area: fila4; }

.fila5 {
  grid-area: fila5; }

.fila6 {
  grid-area: fila6; }

.fila7 {
  grid-area: fila7; }

.fila8 {
  grid-area: fila8; }

.fila9 {
  grid-area: fila9; }

.prueba {
  margin: 0;
  padding: 0 15rem; }

.fila1 {
  display: grid;
  grid-template-areas: "text-left1  " "imagen1  "; }

.text-left1 {
  grid-area: text-left1; }

.imagenes1 {
  grid-area: imagenes1;
  text-align: center; }

.fila2 {
  display: grid;
  grid-template-areas: "text-left2  " "imagen2  "; }

.text-left2 {
  grid-area: text-left2; }

.imagenes2 {
  grid-area: imagenes2;
  text-align: center; }

.fila3 {
  display: grid;
  grid-template-areas: "text-left3  " "imagen3  "; }

.text-left3 {
  grid-area: text-left3; }

.imagenes3 {
  grid-area: imagenes3;
  text-align: center; }

.fila4 {
  display: grid;
  grid-template-areas: "text-left4 " "imagen4 "; }

.text-left4 {
  grid-area: text-left4; }

.imagenes4 {
  grid-area: imagenes4;
  text-align: center; }

.fila5 {
  display: grid;
  grid-template-areas: "text-left5 " "imagen5 "; }

.text-left5 {
  grid-area: text-left5; }

.imagenes1 {
  grid-area: imagenes1;
  text-align: center; }

.fila6 {
  display: grid;
  grid-template-areas: "text-left6 " "imagen6  "; }

.text-left6 {
  grid-area: text-left6; }

.imagenes2 {
  grid-area: imagenes2;
  text-align: center; }

.fila7 {
  display: grid;
  grid-template-areas: "text-left7 " "imagen7 "; }

.text-left7 {
  grid-area: text-left7; }

.imagenes3 {
  grid-area: imagenes3;
  text-align: center; }

.imagen1 .imagen2 .imagen3 .imagen4 .imagen5 .imagen6 .imagen7 {
  width: 100%;
  height: auto; }

.imagen1 img {
  width: 80%;
  height: auto; }

.imagen2 img {
  width: 80%;
  height: auto; }

.imagen3 img {
  width: 50%;
  height: auto; }

.imagen4 img, .imagen5 img, .imagen6 img, .imagen7 img, .imagen8 img {
  width: 80%;
  height: auto; }

.trabajos {
  width: 33.33%;
  float: left;
  margin-bottom: 30px;
  text-align: center; }

.caja {
  margin: 0;
  padding: 0 20rem; }

.bg-light {
  color: white; }

.encabezado__box--invisible {
  text-align: center;
  /* padding */
  padding: 5px 0; }

.formulario {
  width: 50%;
  height: auto;
  margin: 50px auto;
  text-align: center; }

.cajitaf {
  width: 50%;
  height: auto;
  margin: 50px auto;
  padding: 40 20rem;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "foto1	foto2"; }

.foto1 {
  grid-area: foto1; }

.foto2 {
  grid-area: foto2; }

.pie-pagina {
  width: 100%;
  background-color: rgba(36, 162, 185, 0.7); }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    .pie-pagina .grupo-1 .box figure {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .pie-pagina .grupo-1 .box figure img {
        width: 100px; }
    .pie-pagina .grupo-1 .box h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 5px; }
    .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 70px;
      height: 45px;
      line-height: 45px;
      color: white;
      margin-right: 50px;
      background-color: rgba(10, 26, 42, 0.8);
      text-align: center;
      transition: all 300ms ease; }
      .pie-pagina .grupo-1 .red-social a:hover {
        color: skyblue; }
  .pie-pagina .grupo-2 {
    background-color: rgba(10, 26, 42, 0.8);
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    .pie-pagina .grupo-2 small {
      font-size: 15px; }

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 50px; } }
