.pie-pagina {
  width: 100%;
  background-color: rgba(36, 162, 185, 0.7);

  .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

    .box {
      figure {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100px;
        }
      }

      h2 {
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
      }

      p {
        color: #efefef;
        margin-bottom: 5px;
      }
    }

    .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 70px;
      height: 45px;
      line-height: 45px;
      color: white;
      margin-right: 50px;
      background-color: rgba(10, 26, 42, 0.8);
      text-align: center;
      transition: all 300ms ease;

      &:hover {
        color: skyblue;
      }
    }
  }

  .grupo-2 {
    background-color: rgba(10, 26, 42, 0.8);
    padding: 15px 10px;
    text-align: center;
    color: #fff;

    small {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 50px;
  }
}


