html {
  font-size: 62.5%;
}

h1, h2, h3 {
  font-family: arvo, serif;
}

p {
  font-family: 'Play', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  color: white;
}

.text-black {
  color: black;
}

h1 {
  color: rgba(36, 162, 185, 0.7);
  font-size: map-get($size, fontxl);
}

h2 {
  color: rgba(10, 26, 42, 0.8);
  font-size: 3rem;
}

h3 {
  color: rgba(10, 26, 42, 0.8);
  font-size: map-get($size, fontmd);
}

nav {
  background-color: rgba(10, 26, 42, 0.8);

  /*position*/
  position: sticky;

  /*padding*/
  top: 0px;
  width: 100%;

  ul {
    list-style: none;
    display: inline;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;

      a {
        font-size: 2.2rem;
        color: white;
      }
    }
  }
}

body {
  background-image: url(../img/fondo.png);
  background-attachment: fixed;
}

.encabezado__box--white {
  text-align: center;
  background-color: white;

  /* padding */
  padding: 5px 0;
}

.titulos {
  color: white;
  font-size: map-get($size, fontmd);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.productos__articulo, .productos__articulo2 {
  width: 90%;
  height: auto;
  margin: 50px auto;
  border: solid 5px black;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(36, 162, 185, 0.7);
}

.centrado {
  margin: 0;
  padding: 0 5rem;
}

.centrado1 {
  margin: 0;
  padding: 0 12rem;
}

.centrado2 {
  margin: 0;
  padding: 0 17rem;
}

.centrado3 {
  margin: 0;
  padding: 0 30rem;
}

.text-green {
  color: green;
}

.mainIndex {
  display: grid;
  grid-template-areas: "titulo titulo " "columna1 columna2" "columna3 columna4";
  grid-template-columns: 1fr 1fr;
}

.tituloPrincipal {
  grid-area: titulo;
  text-align: center;
}

.columna1 {
  grid-area: columna1;
}

.columna2 {
  grid-area: columna2;
}

.columna3 {
  grid-area: columna3;
}

.columna4 {
  grid-area: columna4;
}

.columna1 {
  display: grid;
  grid-template-areas: "text-left1 text-left1" "imagenes1 imagenes1 imagenes1";
}

.text-left1 {
  grid-area: text-left1;
}

.imagenes1 {
  grid-area: imagenes1;
  text-align: center;
}

.columna2 {
  display: grid;
  grid-template-areas: "text-left2 text-left2" "imagenes2 imagenes2 ";
}

.text-left2 {
  grid-area: text-left2;
}

.imagenes2 {
  grid-area: imagenes2;
  text-align: center;
}

.columna3 {
  display: grid;
  grid-template-areas: "text-left3 text-left3" "imagenes3 imagenes3";
}

.text-left3 {
  grid-area: text-left3;
}

.imagenes3 {
  grid-area: imagenes3;
  text-align: center;
}

.columna4 {
  display: grid;
  grid-template-areas: "text-left4 text-left4" "imagenes4 imagenes4";
}

.text-left4 {
  grid-area: text-left4;
}

.imagenes4 {
  grid-area: imagenes4;
  text-align: center;
}

.imagenes1 {
  .imagenes2 .imagenes3 .imagenes4 {
    width: 100%;
    height: auto;
  }

  img {
    width: 80%;
    height: auto;
  }
}

.imagenes2 img, .imagenes3 img, .imagenes4 img {
  width: 70%;
  height: auto;
}