.encabezado__box--invisible {
  text-align: center;

  /* padding */
  padding: 5px 0;
}

.formulario {
  width: 50%;
  height: auto;
  margin: 50px auto;
  text-align: center;
}

.cajitaf {
  width: 50%;
  height: auto;
  margin: 50px auto;
  padding: 40 20rem;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "foto1	foto2";
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

